.listContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.jokeBox {
    width: 80vmin;
    max-width: 350px;
    height: 200px;
    background-color: var(--shaded-gray);
    margin-bottom: 30px;
    padding: 8px;
    cursor: pointer;
}

.jokeBox:hover {
    transform: scale(1.15);
    animation-timing-function: ease-in ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}

main.jokeBox section p {
    height: 188px;
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
}